---
import { Image } from "astro:assets";
import PrimaryBtn from "@components/buttons/PrimaryBtn.astro";
import SecondaryBtn from "@components/buttons/SecondaryBtn.astro";
import heroImg from "@images/heroImg.png";

const { text1 = "Purchase UI Kit", text2 = "Learn More" } = Astro.props;
---

<section class="relative ml-[165px] justify-center m-auto">
  <side class="flex gap-[91.88px]">
    <side class="flex-1 mt-[243px]">
      <h1 class="font-medium text-50 text-h1Color">
        Introduce Your Product Quickly & Effectively
      </h1>
      <p class="font-normal text-18 mt-[20px] mb-[69px]">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
        ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis
        dis parturient montes, nascetur ridiculus <br /> mus. Donec quam felis,
        ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa
        quis enim.
      </p>
      <i class="flex-col space-x-[30.02px] text-[16px] w-[189.13px] h-[36px]">
        <PrimaryBtn text={text1} , classes="w-[189.13px] h-[36px]" />
        <SecondaryBtn text={text2} />
      </i>
    </side>
    <side class="flex-1">
      <Image
        src={heroImg}
        alt="Hero group image"
        class="w-[974.86px] h-[780px] mt-[185px]"
      />
    </side>
  </side>
</section>
