---
import { Image } from "astro:assets";
import introImg from "@images/introImg.png";
---

<section class="relative ml-[165px] justify-center m-auto">
  <side class="flex gap-[155px]">
    <Image
      src={introImg}
      alt="Hero group image"
      class="flex-1 w-[480px] h-[315.85px] mt-[185px]"
    />
    <side class="flex-1 mt-[243px]">
      <h1 class="font-medium text-50 text-h1Color">Light, Fast & Powerful</h1>
      <p class="font-normal text-18 mt-[20px] mb-[69px]">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
        ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis
        dis parturient montes, nascetur ridiculus <br /> mus. Donec quam felis,
        ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa
        quis enim.
      </p>
    </side>
  </side>
</section>
