---
import { Image } from "astro:assets";
import introImg from "@images/introImg.png";
---

<section class="relative ml-[165px] justify-center m-auto">
  <side class="flex">
    <Image
      src={introImg}
      alt="Hero group image"
      class="w-[480px] h-[315.85px] mt-[185px]"
    />
    <side class="mt-[243px]">
      <h1 class="font-medium text-50">Light, Fast & Powerful</h1>
      <p class="font-normal text-18 mt-[20px] mb-[69px]">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
        ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis
        dis parturient montes, nascetur ridiculus <br /> mus. Donec quam felis,
        ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa
        quis enim.
      </p>
    </side>
  </side>
</section>
