---
import { Image } from "astro:assets";
import bgImg from "@images/bgImg.png";
import NavBar from "@components/NavBar/NavBar.astro";
import Hero from "@components/sections/Hero.astro";
import Hero2 from "@components/sections/Hero2.astro";
import Intro from "@components/sections/Intro.astro";
import Intro2 from "@components/sections/Intro2.astro";
import Cta from "@components/sections/Cta.astro";
import Pricing from "@components/sections/Pricing.astro";
import Footer from "@components/footer/Footer.astro";
---

<div>
  <Image src={bgImg} alt="background image" class="absolute right-0" />
  <NavBar />
  <Hero />
  <Hero2 />
  <Intro />
  <Intro2 />
  <Cta />
  <Pricing />
  <Footer />
</div>
