---
import { Image } from "astro:assets";
import bgImg from "@images/bgImg.png";
import NavBar from "@components/NavBar/NavBar.astro";
import Hero from "@components/sections/Hero.astro";
---

<div>
  <Image src={bgImg} alt="background image" class="absolute right-0" />
  <NavBar />
  <Hero />
</div>
